In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
#% matplotlib inline

df = sns.load_dataset("flights")
df.head(7)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121
5  1949      June         135
6  1949      July         148